<!DOCTYPE HTML>
<html lang="en">
<!-- HEAD -->
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="/bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">


  <title>Thêm khảo sát</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Xử lý Navigation -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/dirPagination.js"> </script> <!-- nguồn code tham khảo https://www.youtube.com/watch?v=wee_si2U3M4-->
  <script src="/angular.ng-modules.js"></script> <!--nguồn code tham khảo https://github.com/luisperezphd/ngModule-->
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>

<!-- BODY -->
<body style="background-color: #eeeeee;">

  <%- include header %>
  <div class="container"><br>
    <div class="card" style="margin:10px;">
      <div class="card-header" style="background-color: #cccccc;">
        <h4>Khảo sát của bạn</h4>
      </div>
      <div class="card-body">
        <form action="/addsurvey?id=<%=id%>" method="POST">
          <ul class="list-group">
           <%result.forEach(function(survey) {%>
           <li class="list-group-item">
            <input type="checkbox" name="ids" value="<%=survey.survey_id%>">
            <a href="/survey?id=<%=survey.survey_id%>"><%=survey.title%></a><p style="padding-left: 18px;"><%=survey.description%></p></li>
            <%})%>
          </ul>
          <input type="submit" name="sub" value="Thêm" class="btn btn-success" style="width: 200px;margin-left: 40%;margin-top: 15px;">
        </form>
      </div>
    </div>
  </div>
  <!-- Quay về đầu trang -->
  <br>
  <br>
  <div class="text-center">
    <a href="#"><h5>Back to top</h5></a>
  </div>


  <!-- FOOTER -->
  <footer id="footer">
    <ul style="padding: 15px; margin-bottom: 0px;">
      <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
      <p style="font-size: 12px"> @2019 design by Team 5</p>
    </ul>
  </footer>
  <script type="text/javascript">


  </script>
</body>
</html>
