<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">


  <title>Hiển thị câu hỏi</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #EEEEEE">

  <%- include header %>
  
  <main role="main">

    <div class="container marketing">
      <br>

      <!-- Phiên hỏi đáp -->
      <div class="card">
        <div class="card-header" style="background-color: #bbbbbb">
          <h5><b>Phiên hỏi đáp</b></h5>
        </div>
        <div class="card-body">
          <div class="row padding">
            <div class="col-3 col-sm-2 col-md-2">
              <div class="card">
                <img class="card-img-top" src="./images/logo2.jpg">
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9">
              <div class="card-body">
                <h4 class="card-title"><%=question[1][0].sec_title%></h4>
                <p class="card-text"><%=question[1][0].sec_desc%><br>
                  Đăng bởi: <a href="/yourprofile?id=<%=question[1][0].user_id%>"><%=question[1][0].name%></a><br>
                  Thời gian tạo: <%=question[1][0].sec_time%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Nội dung câu hỏi -->
      <div class="card">

        <div class="card-header" style="background-color: #bbbbbb">
          <h5><b>Câu hỏi đăng bởi: <a href="/yourprofile?id=<%=question[0][0].user_id%>"> <%=question[0][0].name%></a></b></h5>
        </div>

        <div class="card-body">

          <div class="card">
            <div class="card-header" style="background-color: #33ccff">
             <h5>
                <b>Nội dung câu hỏi</b>
              </h5>
            </div>
            <div class="card-body">
              <h5><%=question[0][0].context%></h5>
              <hr id = "phienhoidap" class="featurette-divider">
              <a href="" style="padding-left: 2%;">Thích</a>
              <form method="POST" action="/question?cmt=0">
              <p>
                  <div class="row">

                    <div class="col-9 col-sm-10 col-md-11">
                      <input type="nhap" name="cmt" class="form-control" id="search2" placeholder="Viết bình luận ...">
                    </div>
                    <div class="col-3 col-sm-2 col-md-1">
                      <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                    </div>

                  </div>
              </p>
            </form>
            </div>
          </div>

          <!-- <br>
          <a href="" style="padding-left: 2%;">Thích</a>
          <a href="" style="padding-left: 2%;" data-toggle="collapse" data-target="#bl" aria-expanded="false" aria-controls="bl">Bình luận</a><br><br> -->
            
              <br>
          <!-- Câu trả lời đúng nhất -->


          <!-- Bình luận-->
          <div class="card">

            <div class="card-header"><h5><b>Nội dung bình luận</b></h5></div>

            <div class="card-body">

             <%for (var i = 0; i < question[2].length; i++) {%>
              <div class="card">

                <div class="card-header row" style="background-color: #99ccff">
                 <div class="col-md-11"><h6><b><%=question[2][i].name%></b></h6></div>
                 <div style="float: right;" class="col-md-1 dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Ghim</a>
                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                    <a class="dropdown-item" href="#">Xóa</a>
                  </div>
                </div>
                </div>

                <div class="card-body">
                  <h6><%=question[2][i].content%></h6>
                    <hr id = "phienhoidap" class="featurette-divider">
                    <a href="">Thích</a>
                    <a href="" style="padding-left: 2%;"  data-target="#tl" aria-expanded="false" aria-controls="tl">
                    </a><br>
                  <p>
                    <form method="POST" action="/question?cmt=<%=question[2][i].ans_id%>">
                    <div  id="tl">
                      <div class="row">

                        <div class="col-9 col-sm-10 col-md-11">
                          <input type="nhap" name="cmt_ans" class="form-control" id="search2" placeholder="Phản hồi <%=question[2][i].name%>">
                        </div>
                        <div class="col-3 col-sm-2 col-md-1">
                          <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                        </div>

                      </div>
                    </div>
                  </form>
                  </p>

                  <!-- comment trả lời cho 1 comment khác-->
                  <% for (var j = 0; j < question[3].length; j++) {
                    if (question[3][j].ans_id == question[2][i].ans_id) { %>
                  <div class="card">
                    <div class="card-header row" style="background-color: #dddddd">
                     <div class="col-md-11"><h6><b><%=question[3][j].name%></b></h6></div>
                     <div style="float: right;" class="col-md-1 dropdown">
                        <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Chỉnh sửa</a>
                        <a class="dropdown-item" href="#">Xóa</a>
                      </div>
                    </div>
                  </div>

                    <div class="card-body">
                      <p><%=question[3][j].cmt%></p>
                      <a href="" style="">Thích</a>
                    </div>
                  </div>
                  <%}
                } %>
                </div>

              </div>
              <% } %>
            </div>

          </div>
        </div>

      </div>
    </div>

<%- include update_inf_user %>

  </main>
  <!-- Quay về đầu trang -->
    <br>
    <div class="text-center">
    <a href="#"><h5>Back to top</h5></a>
    </div>

<!-- FOOTER -->
  <footer id="footer">
    <ul style="padding: 15px; margin-bottom: 0px;">
      <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
      <p style="font-size: 12px"> @2019 design by Team 5</p>
    </ul>
  </footer>


</body>
</html>
