<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <title>Hiển thị câu hỏi</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
 <script>
    window.history.pushState("", "", '/question?question_id=<%=question[0][0].question_id%>');
  </script>
</head>

<body style="background-color: #EEEEEE">

  <%- include header %>
  
  <main role="main">

    <div class="container marketing">
      <a href="/new_session?id=<%=question[1][0].section_id%>" style="margin-bottom: 10px;" role="button" class="btn btn-primary"><ion-icon name="arrow-round-back"></ion-icon> Trở về danh sách câu hỏi</a>
      <!-- Phiên hỏi đáp -->
      <div class="card" style = "border-radius: 6px;">
        <div class="card-header" style="background-color: #999; border-top-right-radius: 6px;border-top-left-radius: 6px;">
          <h5><b>Phiên hỏi đáp</b></h5>
        </div>
        <div class="card-body" style="background-color: #dddddd; border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;">
          <div class="row padding">
            <div class="col-3 col-sm-2 col-md-2">
              <div class="card" style="border-radius: 5px;">
                <img class="card-img-top" src="./images/logo2.jpg" style="border-radius: 5px;">
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9">
              <div class="card-body" style="margin-top: -20px;">
                <h4 class="card-title"><%=question[1][0].sec_title%></h4>
                <p class="card-text"><%=question[1][0].sec_desc%><br>
                  Đăng bởi: <a href="/yourprofile?id=<%=question[1][0].user_id%>"><%=question[1][0].name%></a><br>
                  Thời gian tạo: <%=question[1][0].sec_time%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Nội dung câu hỏi -->
      <div class="card" style = "border-radius: 6px;">

        <div class="card-header" style="background-color: #999;border-top-right-radius: 6px;border-top-left-radius: 6px;">
          <h5><b>Câu hỏi đăng bởi: <a href="/yourprofile?id=<%=question[0][0].user_id%>" style="color: #000099;"> <%=question[0][0].name%></a></b></h5>
        </div>

        <div class="card-body" style="background-color: #dddddd; border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;">

          <div class="card" style="border-radius: 6px;">
            <div class="card-header" style="background-color: #33ccff;border-top-right-radius: 6px;border-top-left-radius: 6px;">
             <h5>
              <b>Nội dung câu hỏi</b>
            </h5>
          </div>
          <div class="card-body">
            <h5><%=question[0][0].context%></h5>
            <form class="form-inline" style="padding-top: 8px;">
             <!-- <small style="font-size: 15px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 03 lượt thích</small> -->
             <small style="font-size: 15px;"><i class="fa fa-commenting-o" aria-hidden="true"></i> 07 bình luận</small>
           </form>
           <hr id = "phienhoidap" class="featurette-divider">
           <!-- <a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Thích</a> -->
           <a href="" style="padding-left: 45%;" data-toggle="collapse" data-target="#tl" aria-expanded="false" aria-controls="tl" ><i class="fa fa-comment-o" aria-hidden="true" ></i> Bình luận</a><br>
            <%if(question[1][0].sec_isopen==1){%>
           <form method="POST" action="/question?cmt=0">
             <p>
              <div class="collapse" id="tl">
                <div class="row">
                  <div class="col-9 col-sm-10 col-md-11">
                    <input type="nhap" name="cmt"  class="form-control" id="search2" placeholder="Viết bình luận ...">
                  </div>
                  <div class="col-3 col-sm-2 col-md-1">
                    <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                  </div>
                </div>
              </div>
            </p>
          </form>
          <%}%>
        </div>
      </div>

          <!-- <br>
          <a href="" style="padding-left: 2%;">Thích</a>
          <a href="" style="padding-left: 2%;" data-toggle="collapse" data-target="#bl" aria-expanded="false" aria-controls="bl">Bình luận</a><br><br> -->

          <br>
          <!-- Câu trả lời đúng nhất -->


          <!-- Bình luận-->
          <div class="card" style="border-radius: 6px;">

            <div class="card-header" style="border-top-right-radius: 6px;border-top-left-radius: 6px;">
              <h5><b>Nội dung bình luận</b></h5></div>

              <div class="card-body" style="border-radius: 6px;">
               <%question[2].forEach(function(q) {%>
               <div class="card" style="border-radius: 6px;">
                <%if (q.ghim == 1) {%>
                <p>Bình luận đã ghim</p>
                <%}%>

                <%if (q.isadmin) {%>
                <div class="card-header form-inline" style="background-color: #ff9933;border-top-right-radius: 6px;border-top-left-radius: 6px;"><%}%>
                <%if (!q.isadmin) {%>
                <div class="card-header form-inline" style="background-color: #33ccff;border-top-right-radius: 6px;border-top-left-radius: 6px;"><%}%>  
                 <div class="col-md-11" style="padding-left: 0px;"><h6><b><%=q.name%></b></h6></div>
                 <%if(question[1][0].sec_isopen==1 && (question[1][0].author == session.username || q.username == session.username)){%>
                 <div style="float: right;" class="col-md-1 dropdown">
                 <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <% if (question[1][0].author == session.username && q.ghim == 0) { %>
                   
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" href="/ghim?type=1&ans_id=<%=q.ans_id%>&question_id=<%=question[0][0].question_id%>>">Ghim</a>
                    </div>
                    <%}%>
                    <% if (question[1][0].author == session.username && q.ghim == 1) { %>
                   
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" href="/ghim?type=0&ans_id=<%=q.ans_id%>&question_id=<%=question[0][0].question_id%>>">Bỏ Ghim</a>
                    </div>
                    <%}%>
                    <% if (q.username == session.username) { %>
                     
                  <div class="dropdown-menu"> 
                    <a class="dropdown-item" id="show_update1_<%=q.ans_id%>">Chỉnh sửa</a>
                    <a class="dropdown-item" href="/deletesection?ans_id=<%=q.ans_id%>&question_id=<%=question[0][0].question_id%>">Xóa</a>
                    </div>
                    <%}%>
                  
                </div>
                <%}%>
              </div>

              <div class="card-body">
                <h6 id="cont1_<%=q.ans_id%>"><%=q.content%></h6>
                <form method="POST" action="/session?ans_id=<%=q.ans_id%>&question_id=<%=question[0][0].question_id%>">
                  <div class="row" style="display: none;" id="cont2_<%=q.ans_id%>">
                    <div class="col-9 col-sm-10 col-md-11">
                      <input type="nhap" name="suaans" class="form-control" value="<%=q.content%>" style = "border-radius: 6px; width: 100%;">
                    </div>
                    <div class="col-3 col-sm-2 col-md-1">
                      <button class="btn btn-outline-secondary" type="submit">Sửa</button>
                    </div>
                  </div>
                </form>

                <form class="form-inline" style="padding-top: 8px;">
                  <!-- <small style="font-size: 14px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 03 lượt thích</small> -->
                  <small style="font-size: 14px;"><i class="fa fa-commenting-o" aria-hidden="true"></i> 05 phản hồi</small>
                </form>
                <hr id = "phienhoidap" class="featurette-divider">

                <!-- <a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Thích</a> -->
                 <%if(question[1][0].sec_isopen==1){%>
                <form method="POST" action="/question?cmt=<%=q.ans_id%>">
                  <p>
                    <div>
                      <div class="row">
                        <div class="col-9 col-sm-10 col-md-11">
                          <input type="nhap" name="cmt_ans" class="form-control" id="search2" placeholder="Phản hồi <%=q.name%>">
                        </div>
                        <div class="col-3 col-sm-2 col-md-1">
                          <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                        </div>
                      </div>
                    </div>
                  </p>
                </form>
                <%}%>
                <!-- comment trả lời cho 1 comment khác-->
                <% question[3].forEach(function(questions) {
                if (questions.ans_id == q.ans_id) { %>
                <div class="card" style="border-radius: 6px;margin-bottom: 8px;">
                  <div class="card-header form-inline" style="background-color: #dddddd;border-top-right-radius: 6px;border-top-left-radius: 6px;">
                   <div class="col-md-11" style="padding-left: 0px;"><h6><b><%=questions.name%></b></h6></div>
                   <% if (questions.username == session.username) { %>
                    <%if(question[1][0].sec_isopen==1){%>
                   <div style="float: right;" class="col-md-1 dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" id="show_update2_<%=questions.cmt_id%>">Chỉnh sửa</a>
                      <a class="dropdown-item" href="/deletesection?cmt_id=<%=questions.cmt_id%>&question_id=<%=question[0][0].question_id%>">Xóa</a>
                    </div>
                  </div>
                  <%}}%>
                </div>

                <div class="card-body">
                  <div id="in_cont1_<%=questions.cmt_id%>"><%=questions.cmt%></div>
                  <form method="POST" action="/session?cmt_id=<%=questions.cmt_id%>&question_id=<%=question[0][0].question_id%>">
                    <div class="row" style="display: none;" id="in_cont2_<%=questions.cmt_id%>">
                      <div class="col-9 col-sm-10 col-md-11">
                        <input type="nhap" name="suacmt" class="form-control" value="<%=questions.cmt%>" style = "border-radius: 6px; width: 100%;">
                      </div>
                      <div class="col-3 col-sm-2 col-md-1">
                        <button class="btn btn-outline-secondary" type="submit">Sửa</button>
                      </div>
                    </div>
                  </form>

                  <!-- <small style="font-size: 14px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 03 lượt thích</small> -->
<!--                       <hr id = "phienhoidap" class="featurette-divider">
  <a href="" style=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Thích</a> -->
</div>
</div>
<%}
}); %>
</div>

</div>
<% }); %>
</div>

</div>
</div>

</div>
</div>

<%- include update_inf_user %>

</main>
<!-- Quay về đầu trang -->
<br>
<div class="text-center">
  <a href="#"><h5>Back to top</h5></a>
</div>

<!-- FOOTER -->
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>

<script type="text/javascript">
 <%question[2].forEach(function(q) {
  question[3].forEach(function(questions) { %>
    $(document).ready(function(){
      $('#show_update1_<%=q.ans_id%>').click(function() {
        $('#cont2_<%=q.ans_id%>').show("fast");
        $('#cont1_<%=q.ans_id%>').hide("fast");
      }); 
      $('#show_update2_<%=questions.cmt_id%>').click(function() {
        $('#in_cont2_<%=questions.cmt_id%>').show("fast");
        $('#in_cont1_<%=questions.cmt_id%>').hide("fast");
      }); });
    <%});});%>

  </script>

</body>
</html>
