<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">


  <title>Hiển thị câu hỏi</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #EEEEEE">
  
  <!-- HEADER -->
  <header>

    <!--Navbars -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a id="logo" class="navbar-brand" href="/home">Q&A</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/support">Trợ giúp</a>
          </li>
        </ul>
        
        <form id="search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <% if (session.username) {%>
        <ul class="navbar-nav" style="display: contents;">
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="./images/icons/bell.jpg" width="40" height="40" style="border-radius: 100%"></a>
          </li>
         <!--  <li>
            <div class="thumb" style="background-image:url(images/avatar1.jpg);width: 40px;height: 40px"></div>
          </li> -->  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: whitesmoke" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=session.name%></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/yourprofile">Quản lý</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#UserModal">Cập nhật thông tin</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
        </ul>
        <%} else {%>
          <ul class="navbar-nav" style="display: contents;">
            <li class="nav-item">
              <a class="nav-link" href="/login"><Đăng nhập</a>
            </li>
          </ul>
        <%}%>
      </div>
    </nav>
  </header>
  
<!-- MAIN -->
  <main role="main">

    <div class="container marketing">
      <br>
      
      <!-- Phiên hỏi đáp -->
      <div class="card">
        <div class="card-header" style="background-color: #bbbbbb">
          <h5><b>Phiên hỏi đáp</b></h5>
        </div>
        <div class="card-body">
          <div class="row padding">
            <div class="col-3 col-sm-2 col-md-2">
              <div class="card">
                <img class="card-img-top" src="./images/avatar2.jpg">
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9">
              <div class="card-body">
                <h4 class="card-title"><%=question[1][0].sec_title%></h4>
                <p class="card-text"><%=question[1][0].sec_desc%><br>
                  Đăng bởi: <a href="/yourprofile?id=<%=question[1][0].user_id%>"><%=question[1][0].name%></a><br>
                  Thời gian tạo: <%=question[1][0].sec_time%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <!-- Nội dung câu hỏi -->
      <div class="card">
        
        <div class="card-header" style="background-color: #bbbbbb">
          <h5><b>Câu hỏi đăng bởi: <a href="/yourprofile?id=<%=question[0][0].user_id%>"> <%=question[0][0].name%></a></b></h5>
        </div>

        <div class="card-body">

          <div class="card">
            <div class="card-header" style="background-color: #33ccff">
             <h5>
                <b>Nội dung câu hỏi</b>
              </h5>
            </div>
            <div class="card-body">
              <h5><%=question[0][0].context%></h5>
              <hr id = "phienhoidap" class="featurette-divider">
            </div>
          </div>

          <br>
          <a href="" style="padding-left: 2%;">Thích</a>
          <a href="" style="padding-left: 2%;" data-toggle="collapse" data-target="#bl" aria-expanded="false" aria-controls="bl">Bình luận</a><br><br>
            <form method="POST" action="/question?cmt=0">
              <div class="collapse" id="bl">
                  <div class="row">
                    
                    <div class="col-9 col-sm-10 col-md-11">
                      <input type="nhap" name="cmt" class="form-control" id="search2" placeholder="Viết bình luận ...">
                    </div>
                    <div class="col-3 col-sm-2 col-md-1">
                      <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                    </div>

                  </div>
              </div>
            </form>
              <br>
          <!-- Câu trả lời đúng nhất -->
              

          <!-- Bình luận--> 
          <div class="card">
            
            <div class="card-header"><h5><b>Nội dung bình luận</b></h5></div>
            
            <div class="card-body">
          
             <%for (var i = 0; i < question[2].length; i++) {%>
              <div class="card">
                
                <div class="card-header" style="background-color: #99ccff">
                 <h6><b><%=question[2][i].name%></b></h6>
                </div>
               
                <div class="card-body">
                  <h6><%=question[2][i].content%></h6>
                    <hr id = "phienhoidap" class="featurette-divider">
                    <a href="">Thích</a>
                    <a href="" style="padding-left: 2%;" data-toggle="collapse" data-target="#tl" aria-expanded="false" aria-controls="tl">Trả lời
                    </a><br>
                  <p>
                    <form method="POST" action="/question?cmt=<%=question[2][i].ans_id%>">
                    <div class="collapse" id="tl">
                      <div class="row">
                  
                        <div class="col-9 col-sm-10 col-md-11">
                          <input type="nhap" name="cmt_ans" class="form-control" id="search2" placeholder="Viết bình luận ...">
                        </div>
                        <div class="col-3 col-sm-2 col-md-1">
                          <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                        </div>

                      </div>
                    </div>
                  </form>
                  </p>  
                
                  <!-- comment trả lời cho 1 comment khác-->
                  <% for (var j = 0; j < question[3].length; j++) { 
                    if (question[3][j].ans_id == question[2][i].ans_id) { %>
                  <div class="card">
                    <div class="card-header" style="background-color: #dddddd">
                     <h6><b><%=question[3][j].name%></b></h6>
                    </div>
                    
                    <div class="card-body">
                      <p><%=question[3][j].cmt%></p>
                      <a href="" style="">Thích</a>
                      <a href="" style="padding-left: 2%;" data-toggle="collapse" data-target="#tl2" aria-expanded="false" aria-controls="tl2">Trả lời</a><br>
                      <p>
                        <div class="collapse" id="tl2">
                          <div class="row">
                      
                            <div class="col-9 col-sm-10 col-md-11">
                              <input type="nhap" class="form-control" id="search2" placeholder="Viết bình luận ...">
                            </div>
                            <div class="col-3 col-sm-2 col-md-1">
                              <button class="btn btn-outline-secondary" type="submit">Gửi</button>
                            </div>

                          </div>
                        </div>
                      </p>  
                    </div>

                  </div>
                  <%}
                } %>
                </div>
              
              </div>
              <% } %>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Cập nhật tài khoản -->
        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UserModalLabel">Tài khoản: Việt Cường</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <form>

                  <div class="form-group">
                    <label for="InputUserName">Họ tên:</label>
                    <input type="text" class="form-control" id="InputUserName" aria-describedby="Username" placeholder="">
                    
                  </div>
                  <div class="form-group">
                    <label for="InputEmail">Email:</label>
                    <input type="email" class="form-control" id="InputEmail" placeholder="">
                  </div>
                  
                </form>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
              
              </div>
            </div>
          </div>
        </div>

  </main>   
  <!-- Quay về đầu trang -->
    <br>
    <div class="text-center">     
    <a href="#"><h5>Back to top</h5></a>
    </div>
  
<!-- FOOTER -->
  <footer id="footer">
    <ul style="padding: 15px; margin-bottom: 0px;">
      <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
      <p style="font-size: 12px"> @2019 design by Team 5</p>
    </ul>
  </footer>


</body>
</html>