<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">


  <title>Hiển thị phiên hỏi đáp</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <SCRIPT LANGUAGE = "Javascript">
    $(document).ready(function() {
      $("a[href*='#']:not([href='#])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </SCRIPT>
</head>


<body style="background-color: #EEEEEE" id = "backtotop">

  <%- include header %>

  <!-- MAIN -->
  <main role="main">

    <div class="container marketing">
      <br>
      <div class="row">
        <div class="col-12 col-sm-8 col-sm-8">
          <div class="card" style="border-radius: 6px;margin-bottom: 10px;">
            <div class="card-header" style="background-color: #888;border-top-left-radius: 6px;border-top-right-radius: 6px;">
              <h5><b>Phiên hỏi đáp</b></h5>
            </div>
            <div class="card-body" style="background-color: #dddddd;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
              <div class="row padding">
                <div class="col-3 col-sm-3 col-md-3">
                  <div class="card" style="border-radius: 6px;">
                    <img class="card-img-top" src="./images/avatar2.jpg" style="border-radius: 6px;">
                  </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8">
                  <div class="card-body" style="margin-top: -20px;">
                    <h4 class="card-title"><%=sections[0][0].sec_title%></h4>
                    <p class="card-text"><%=sections[0][0].sec_desc%><br>
                      Đăng bởi: <a href="/yourprofile?id=<%=sections[0][0].user_id%>"><%=sections[0][0].name%></a><br>
                      Thời gian tạo: <%=sections[0][0].sec_time%>
                    </p>
                    <% if (sections[0][0].username == session.username) { %>
                    <%if (sections[0][0].sec_isopen==0){%>
                    <p class="form-inline" >   
                      <a href="/openqa?id=<%=sections[0][0].section_id%>" class="btn btn-secondary" role="button">Mở lại phiên hỏi đáp</a>
                    </p>
                    <%} else {%>
                    <p class="form-inline" >
                      <a href="/closeqa?id=<%=sections[0][0].section_id%>" class="btn btn-secondary" role="button">Đóng phiên hỏi đáp</a>
                    </p>
                    <%}}%>
                  </div>
                </div>
                <%if(session.username==sections[0][0].username){%>

                <div class=" col-1 dropdown" >
                  <button class="btn dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-toggle="modal" data-target="#updatesection" href="#updatesection">Sửa</a>
                    <a class="dropdown-item" href="/deleteqa?id=<%=sections[0][0].section_id%>">Xóa</a>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-sm-4">
          
          <div class="card" style="border-radius: 6px;min-height: 300px;">
            <div class="card-header" style="background-color: #888;border-top-left-radius: 6px;border-top-right-radius: 6px;">
              <h5><b>Phiếu khảo sát liên quan</b></h5>
            </div>
            <div class="card-body" style="background-color: #dddddd;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
             
              <ul class="list-group">
                <div class="scroll" style=" display:block; border: 1px solid #bbbbbb; padding:5px; height: 155px; overflow:scroll;overflow-x: hidden;">
                  <%if(sections[2][0]){%>
                  <%sections[2].forEach(function(survey) {%>
                  <li class="list-group-item" style="text-align: left;">
                    <div class="row">
                      <div class="col-9 col-sm-9 col-md-9">
                       <a style="width: 100%;" href="/survey?id=<%=survey.survey_id%>" class ="col-md-11"><%=survey.title%></a>             
                     </div>

                     <%if(session.username==sections[0][0].username){%>
                     <div class="col-3 col-sm-3 col-md-3" style="float: left;">
                       <button class="btn dropdown-toggle"  type="button" id="dropdownMenuButton11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       </button>
                       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
                        <a class="dropdown-item" href="/deletere?id=<%=sections[0][0].section_id%>&sid=<%=survey.survey_id%>">Xóa</a>
                      </div>
                    </div>
                  </div>
                  <%}%>
                </li>
                <%})%>
              </div>
            </ul>
            <%}else{%>
            <p style="padding: 7px;">Chưa có phiếu khảo sát nào trong phiên hỏi đáp này</p>
            <%}%>
            <%if(session.username==sections[0][0].username){%>
            <a href="/addsurvey?id=<%=sections[0][0].section_id%>" class="btn btn-success" role="button" style="width: 100%;margin-top: 10px;" >+ Thêm phiếu khảo sát</a>
            <%}%>
            
          </div>
        </div>

      </div>
    </div><br>
    <div class="modal fade" id="updatesection" tabindex="-1" role="dialog" aria-labelledby="SectionModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="SessionModalLabel">Chỉnh sửa phiếu khảo sát</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form action="/upsec?id=<%=sections[0][0].section_id%>" method="POST">
             <div>
               <label for="title" class="col-form-label">Tiêu đề:</label>
               <input type="text" name="title" class="form-control" value="<%=sections[0][0].sec_title%>" required>
             </div>
             <div>
               <label for="des" class="col-form-label">Mô tả:</label>
               <input type="text" name="des" class="form-control" value="<%=sections[0][0].sec_desc%>" required>
             </div>
             <div class="modal-footer">
               <input type="submit" class="btn btn-success" value="Xác nhận">
             </div>
           </form>
         </div><br>
       </div>
     </div>
   </div>
   <div class="card" style="border-radius: 10px;width: 100%;margin-top: 10px;">
    <div class="card-header d-inline" style="background-color: #888;border-top-left-radius: 6px;border-top-right-radius: 6px;">
      <h5>Danh sách câu hỏi</h5>
          <!-- <div class="dropdown" class="text-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Danh sách lựa chọn
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/survey">Danh sách phiếu khảo sát</a>
            </div>
          </div> -->

        </div>
        <div class="card-body" style="border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;width: 100%;background-color: #dddddd;">
         <%if (sections[0][0].sec_isopen==1){%>
         
         <form method="POST" action="/new_session?id=<%=sections[0][0].section_id%>">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1"></div>
            <div class="col-9 col-sm-9 col-md-9">
              <textarea type="text" name="context" rows="1" class="form-control" id="search2" placeholder="Đặt câu hỏi ..."></textarea> 
            </div>
            <div class="col-1 col-sm-1 col-md-1">
              <input class="btn btn-outline-secondary" type="submit" value="Gửi" style="margin-left: -15px;margin-bottom: 20px;">
            </div>
          </div>
        </form>
        
        <%}%>
      <% sections[1].forEach(function(section) { %>
      <div class="card" style="border-radius: 6px;margin-top: 3px;">
        <div class="row padding">
          <div class="col-3 col-sm-3 col-md-2">
            <div class="card" style="border-top-left-radius: 6px;border-bottom-left-radius: 6px;">
              <a href="/question?question_id=<%=section.question_id%>">
               <img class="card-img-top" src="./images/logo2.jpg" style="border-top-left-radius: 6px;border-bottom-left-radius: 6px;">
             </a>
           </div>
         </div>
         <div class="col-9 col-sm-9 col-md-9">
          
          <div class="card-body">
            <h5 class="card-title"><a href="/question?question_id=<%=section.question_id%>"><%= section.context%></a></h5>
            <p class="card-text"><br>
              Đăng bởi: <a href="/yourprofile?id=<%=section.user_id%>"> <%= section.name%></a>
              <%= section.date_posted%>
            </p>
          </div>
        </div>
        <% if (section.username == session.username) { %>
        <div style="float: right;" class="dropdown">
          <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditQuestion_Modal<%=section.question_id%>">Chỉnh sửa</a>
            <a class="dropdown-item" href="/deletesection?question_id=<%=section.question_id%>&section_id=<%=sections[0][0].section_id%>">Xóa</a>
          </div>
        </div>
        <% } %>
      </div>
    </div><br>
    <% }); %>
  </div>
  </div>
  <!-- Quay về đầu trang -->
  <br>
  <br>
  <div id="lentren">
    <a href="#backtotop"><i class="fas fa-angle-double-up" style="font-size: 35px;color: #555;margin-left: 90%; "></i></a>
  </div>
  <hr id = "phienhoidap" class="featurette-divider">
</div>


<%- include update_inf_user %>

<!-- Modal cho chỉnh sửa câu hỏi -->
<% sections[1].forEach(function(section) { %>
<div class="modal fade" id="EditQuestion_Modal<%=section.question_id%>" tabindex="-1" role="dialog" aria-labelledby="EditQuestion_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SessionModalLabel">Chỉnh sửa câu hỏi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/deletesection?question_id=<%=section.question_id%>&id=<%=section.sections_id%>" method="POST">
          <div class="form-group">
            <label for="InputTitle">Nội dung:</label>
            <input type="text" name="sec_title" value="<%=section.context%>" class="form-control" id="InputTitle" aria-describedby="title" >
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Xác nhận">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% }); %>


</main>
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>
<script type="text/javascript">
  var textarea = document.querySelector('textarea');

  textarea.addEventListener('keydown', autosize);
  
  function autosize(){
    var el = this;
    setTimeout(function(){
      el.style.cssText = 'height:auto; padding:6px';
    // for box-sizing other than "content-box" use:
    // el.style.cssText = '-moz-box-sizing:content-box';
    el.style.cssText = 'height:' + el.scrollHeight + 'px';
  },0);
  }
</script>
</body>
</html>
