<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">


  <title>Hiển thị phiên hỏi đáp</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body style="background-color: #EEEEEE">

<%- include header %>

<!-- MAIN -->
  <main role="main">

    <div class="container marketing">
      <br>
      <div class="card">
        <div class="card-header" style="background-color: #bbbbbb">
          <h5><b>Phiên hỏi đáp</b></h5>
        </div>
        <div class="card-body">
          <div class="row padding">
            <div class="col-3 col-sm-2 col-md-2">
              <div class="card">
                <img class="card-img-top" src="./images/avatar2.jpg">
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9">
              <div class="card-body">
                <h4 class="card-title"><%=sections[0][0].sec_title%></h4>
                <p class="card-text"><%=sections[0][0].sec_desc%><br>
                  Đăng bởi: <a href="/yourprofile?id=<%=sections[0][0].user_id%>"><%=sections[0][0].name%></a><br>
                  Thời gian tạo: <%=sections[0][0].sec_time%>
                </p>
                <button class="btn btn-outline-secondary">Chỉnh sửa</button>
                <button class="btn btn-outline-secondary">Xóa</button>
                <button class="btn btn-outline-secondary">Đóng</button>
              </div>
            </div>
          </div>
        </div>
      </div><br>

      <div class="card">
        <div class="card-header d-inline" style="background-color: #bbbbbb">
          <h5>Danh sách câu hỏi<h5>
          <!-- <div class="dropdown" class="text-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Danh sách lựa chọn
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/survey">Danh sách phiếu khảo sát</a>
            </div>
          </div> -->

        </div>
        <div class="card-body">
          <div class="row" style="margin-bottom: 3%;">
            <div class="col-12 col-sm-6 col-md-6" >
              <div class="row">
                  <div class="col-8 col-sm-7 col-md-7" style="margin-bottom: 3%;">
                    <input type="tim" class="form-control" id="search2" placeholder="Tìm kiếm ...">
                  </div>
                  <div class="col-1 col-sm-1 col-md-1">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
            <form method="POST" action="/new_session">
            
              <div class="row">
                  <div class="col-8 col-sm-9 col-md-9">
                    <input type="text" name="context" class="form-control" id="search2" placeholder="Đặt câu hỏi ...">
                  </div>
                  <div class="col-1 col-sm-1 col-md-1">
                    <input class="btn btn-outline-secondary" type="submit" value="Gửi">
                  </div>
              </div>
            
            </form>
            </div>
          </div>
          <% for (var i = 0; i < sections[1].length; i++) { %>
          <div class="card">
            <div class="row padding">
              <div class="col-3 col-sm-3 col-md-2">
                <div class="card">
                  <a href="/question">
                   <img class="card-img-top" src="./images/logo2.jpg" >
                 </a>
               </div>
             </div>
             <div class="col-9 col-sm-9 col-md-9">
              
              <div class="card-body">
                <h5 class="card-title"><a href="/question?question_id=<%=sections[1][i].question_id%>"><%= sections[1][i].context%></a></h5>
                <p class="card-text"><br>
                  Đăng bởi: <a href="/yourprofile?id=<%=sections[1][i].user_id%>"> <%= sections[1][i].name%></a>
                  <%= sections[1][i].date_posted%>
                </p>
              </div>
            </div>
            <div style="float: right;" class="dropdown">
                  <a class="nav-link dropdown-toggle" style="color: black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Chỉnh sửa</a>
                  <a class="dropdown-item" href="#">Xóa</a>
                </div>
              </div>
          </div>
        </div><br>
        <% } %>

  </div>
</div>
<p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
</div>

<%- include update_inf_user %>

</main>
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>
</body>
</html>
