<!DOCTYPE HTML>
<html lang="en">
<!-- HEAD -->
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">

  <title>Tài khoản sinh viên</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <SCRIPT LANGUAGE = "Javascript">
    $(document).ready(function() {
      $("a[href*='#']:not([href='#])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </SCRIPT>
</head>

<!-- BODY -->
<body style="background-color: #eeeeee" id = "backtotop">

  <%- include header %>

  <!-- MAIN -->
  <main role="main">
    <div class="container">
      <!-- Tài khoản -->
      <div class="container"><br>
        <div class="card">
          <div class="card-body">
            <div class="row padding">
              <div class="col-3 col-sm-2 col-md-2">
                <div class="card">
                  <img class="card-img-top" src="./images/avatar1.png">
                </div>
              </div>
              <%var numberquestion = info[1].length;%>
              <div class="col-9 col-sm-9 col-md-9">
                <div class="card-body">
                  <h4 class="card-title"><%=info[0][0].name%></h4>
                  <p class="card-text">Chức vụ: Thành viên<br>
                    Tổng số câu hỏi: <%=numberquestion%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Nội dung -->
      <div class="container">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#comment" data-toggle="tab">Bình luận</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#question" data-toggle="tab">Câu hỏi</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div id="comment" class="tab-pane active" role="tabpanel">
                <%for (var i = 0; i < info[2].length; i++) { %>

                <div class="card-body">
                  <div class="card" id="cmt">
                    <div class="card-body d-inline">
                      <div class="row">
                        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-6 col-6">
                          Bạn đã bình luận "<%=info[2][i].content%>""
                          <br>
                          <a href="/question?question_id=<%=info[2][i].question_id%>" class="card-link">Chi tiết-></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>

                </div>
                <%}%>
                <%for (var i = 0; i < info[3].length; i++) { %>
                <div class="card-body">
                  <div class="card" id="cmt">
                    <div class="card-body d-inline">
                      <div class="row">
                        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-6 col-6">
                          Bạn đã bình luận "<%=info[3][i].cmt%>""
                          <br>
                          <a href="/question?question_id=<%=info[3][i].question_id%>" class="card-link">Chi tiết-></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>

                </div>
                <%}%>
              </div>

              <br>

              <div id="question" class="tab-pane" role="tabpanel">
                <div class="card-body">
                  <% for (var i = 0; i < info[1].length; i++) { %>
                  <div class="card" style="margin-bottom: 10px;">
                    <div class="row padding">
                      <div class="col-3 col-sm-3 col-md-2">
                        <div class="card">
                         <img class="card-img-top" src="./images/logo2.jpg" >
                       </div>
                     </div>
                     <div class="col-5 col-sm-5 col-md-6">
                      <div class="card-body">
                        <h5 class="card-title"><a href="/question?question_id=<%=info[1][i].question_id%>"><%=info[1][i].context%></a></h5>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <br>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Xóa cmt -->

    <div class="modal fade" id="DeleteModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn chắc chắn muốn xóa comment này ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="button1" data-dismiss="modal">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DeleteModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn chắc chắn muốn xóa comment này ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="button2" data-dismiss="modal">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Xóa câu hỏi -->

    <div class="modal fade" id="DeleteModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn chắc chắn muốn xóa câu hỏi này ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="button3" data-dismiss="modal">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DeleteModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn chắc chắn muốn xóa câu hỏi này ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="button4" data-dismiss="modal">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>

    <%- include update_inf_user %>

    <!-- Cập nhật câu hỏi -->
    <div class="modal fade" id="EditQuestionModal" tabindex="-1" role="dialog" aria-labelledby="QuesModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="QuesModalLabel">Chỉnh sửa câu hỏi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="" aria-describedby="title" placeholder="Nhập lại câu hỏi....">
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>

          </div>
        </div>
      </div>

    </div>
    <br>
    <br>
    <div id="lentren">
      <a href="#backtotop"><i class="fas fa-angle-double-up" style="font-size: 35px;color: #555;margin-left: 90%; "></i></a>
    </div>
    <hr id = "phienhoidap" class="featurette-divider">
  </div>
</main>

<!-- FOOTER -->
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>

<!-- Quay về đầu trang -->

<!-- Nút xóa -->
<script type="text/javascript">
  $("#button1").click(function(){
    $("#1").remove();
  });
  $("#button2").click(function(){
    $("#2").remove();
  });
  $("#button3").click(function(){
    $("#3").remove();
  });
  $("#button4").click(function(){
    $("#4").remove();
  });
</script>
<!-- Hiển thị tuổi -->
<script type="text/javascript">
  <% var n =  JSON.stringify(session.date)%>
  var text = <%- n%> ;
  var date = new Date(text);
  var d = new Date();
  var tuoi=d.getYear()-date.getYear();
      //document.getElementById("age").innerHTML="Tuổi: "+ tuoi;
    </script>

  </body>
  </html>
