<!DOCTYPE HTML>
<html lang="en">
<!-- HEAD -->
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="index&manage.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">

  <title>Tài khoản giảng viên</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/dirPagination.js"> </script> <!-- nguồn code tham khảo https://www.youtube.com/watch?v=wee_si2U3M4-->
  <script src="/angular.ng-modules.js"></script>

</head>

<!-- BODY -->
<body>

  <!-- HEADER -->
    <header>
        <!--Navbars -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a id="logo" class="navbar-brand" href="/home">Q&A</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/support">Trợ giúp</a>
              </li>
            </ul>

            <form id="search" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <% if (session.username) {%>
            <ul class="navbar-nav" style="display: contents;">
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="./images/icons/bell.jpg" width="40" height="40" style="border-radius: 100%"></a>
              </li>
              <!-- <li>
                <div class="thumb d-none d-sm-none d-md-block" style="background-image:url(images/avatar2.jpg);width: 40px;height: 40px"></div>
              </li>   -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: whitesmoke" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=session.name%></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="/yourprofile?id=<%=session.user_id%>">Quản lý</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#UserModal">Cập nhật thông tin</a>
                  <a class="dropdown-item" href="/logout">Đăng xuất</a>
                </div>
              </li>
            </ul>
            <%} else {%>
            <ul class="navbar-nav" style="display: contents;">
              <li class="nav-item">
                <a class="nav-link" href="/login"><Đăng nhập</a>
              </li>
            </ul>
            <%}%>
          </div>
        </nav>
    </header>
    <br>

  <!-- MAIN -->
    <main role="main">

      <!-- Tài khoản -->
        <div class="container">
          <div class="card">
            <div class="card-body">
              <div class="row padding">
                  <div class="col-3 col-sm-2 col-md-2">
                    <div class="card">
                      <img class="card-img-top" src="./images/avatar2.jpg">
                    </div>
                  </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <div class="card-body">
                    <h4 class="card-title"><%=info[0].name%></h4>
                      <p class="card-text">Chức vụ: Giảng viên<br>
                        Tổng số phiên khảo sát: 5<br>
                        Tổng số phiên hỏi đáp: 5
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

      <!-- Nội dung -->
        <div class="container">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#comment" data-toggle="tab">Bình luận của tôi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#session" data-toggle="tab">Phiên hỏi đáp của tôi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#survey" data-toggle="tab">Phiếu khảo sát của tôi</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div id="comment" class="tab-pane active" role="tabpanel">
                  <div class="card-body">
                    <div class="card" id="cmt">
                      <div class="card-body d-inline">
                        <div class="row">
                          <div class="col-lg-8 col-xl-8 col-md-8 col-sm-6 col-6">
                            Bạn đã bình luận vào câu hỏi của Tô Tô.
                            <br>
                            <a href="#" class="card-link">Chi tiết-></a>
                          </div>
                          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
                            <button type="button" class="btn btn-warning px-5" data-toggle="modal" data-target="#DeleteModal1">
                              Xóa
                            </button>
                         </div>
                        </div>
                      </div>
                    </div>

                    <br>

                  </div>
                </div>

                <br>

                <div id="survey" class="tab-pane" role="tabpanel">
                  <div class="card-body" ng-module="paginationApppm"  ng-controller="listapppm">
                    <form id="search" class="form-inline my-2 my-lg-0" style ="margin-bottom: 10px">
                      <input class="form-control mr-sm-2" type="search" ng-model="search" style ="margin-bottom: 10px; width:700px;" placeholder="Tìm kiếm phiếu khảo sát" aria-label="Search" required>
                    </form>
                    <div  ng-click="sort('tieude')" class=" glyphicon sort-icon" ng-show="sortKey=='tieude'" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':reverse}"  ></div>
                    <div class="card" id="sur"  style="margin-bottom:10px;" dir-paginate="vlue in phieum|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                          <div class="row padding">
                            <div class="col-3 col-sm-3 col-md-2"  >
                               <img class="card-img-top" style="max-width: 80px; max-height: 80px; margin:auto;" src="./images/logo3.jpg" >
                            </div>
                            <div class="col-8 col-sm-5 col-md-7">
                              <div class="card-body">
                                <h5 class="card-title"><a href="{{vlue.link}}">{{vlue.tieude}}</a></h5>
                                <p class="card-text">{{vlue.mota}}<br>
                                <p class="card-text">Có: {{vlue.num}} lượt khảo sát
                                </p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <br>
                    <dir-pagination-controls
                      max-size="1"
                      direction-links="true"
                      boundary-links="true"  >
                    </dir-pagination-controls>
                  </div>
                  <script type="text/javascript">
                       var phieum=[];
                   </script>
                   <%for(var i=0;i< info.length;i++){
                      %>
                       <script type="text/javascript">
                         phieum.push({
                           "tieude": "<%=info[i].title%>",
                           "mota":"<%=info[i].description%>",
                           "num": "<%=info[i].num_re%>",
                           "link":"./survey?id=<%=info[i].survey_id%>"
                         });
                         </script>
                         <%
                       }%>
                   <script type="text/javascript">
                     var app = angular.module('paginationApppm', ['angularUtils.directives.dirPagination']);
                      app.controller('listapppm', function($scope){
                       $scope.phieum=phieum;
                       });
                   </script>
                </div>

                 <div id="session" class="tab-pane" role="tabpanel">
                  <div class="card-body" ng-module="paginationses"  ng-controller="listses">
                    <form id="search" class="form-inline my-2 my-lg-0" style ="margin-bottom: 10px">
                      <input class="form-control mr-sm-2" type="search" ng-model="search" style ="margin-bottom: 10px; width: 500px" placeholder="Search" aria-label="Search" required>
                    </form>
                    <div  ng-click="sort('tieudes')" class=" glyphicon sort-icon" ng-show="sortKey=='tieudes'" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':reverse}"  ></div>
                    <div class="card" id="ses" style="margin-bottom:10px;" dir-paginate="value in ses|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                          <div class="row padding">
                            <div class="col-3 col-sm-3 col-md-2">
                              <div class="card">
                               <img class="card-img-top" src="./images/logo2.jpg" >
                              </div>
                            </div>
                            <div class="col-5 col-sm-5 col-md-6">
                              <div class="card-body">
                                <h5 class="card-title"><a href="/question">{{value.tieudes}}
                                </a></h5>
                                <p class="card-text">Mô tả: {{value.motas}}<br>
                                <p class="card-text">Có: {{value.nums}} câu hỏi<br>
                                </p>
                              </div>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-warning px-5" data-toggle="modal" data-target="#DeleteSession">
                              Xóa
                              </button>
                              <button type="button" class="btn btn-success px-5" data-toggle="modal" data-target="#EditSessionModal">
                              Chỉnh sửa
                              </button>
                            </div>
                          </div>
                    </div>
                    <br>
                    <dir-pagination-controls
                      max-size="1"
                      direction-links="true"
                      boundary-links="true"  >
                    </dir-pagination-controls>
                  </div>
                  <script type="text/javascript">
                       var ses=[];
                   </script>
                   <%for(var i=0;i< 6;i++){
                     if(true){ %>
                       <script type="text/javascript">
                         ses.push({
                           "tieudes": "Thảo luận liên quan đến framework khi thiết kế website",
                           "motas":"Đánh giá ô nhiễm",
                           "nums": 20
                         });
                         </script>
                         <%}
                       }%>
                   <script type="text/javascript">
                     var app = angular.module('paginationses', ['angularUtils.directives.dirPagination']);
                      app.controller('listses', function($scope){
                       $scope.ses=ses;
                       });
                   </script>
                </div>



              </div>
            </div>
          </div>
        </div>

      <!-- Xóa cmt -->

        <div class="modal fade" id="DeleteComment1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xóa comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa comment này ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="button1" data-dismiss="modal">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Xóa phiên hỏi đáp và phiếu khảo sát -->

        <div class="modal fade" id="DeleteSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xóa phiên hỏi đáp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa phiên này ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="button3" data-dismiss="modal">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="DeleteSurvey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xóa phiếu khảo sát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa phiếu này ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="button4" data-dismiss="modal">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
              </div>
            </div>
          </div>
        </div>

      <!-- Cập nhật tài khoản -->
        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UserModalLabel">Tài khoản: <%=session.name%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form method="POST" action="/yourprofile?id=<%=session.user_id%>">

                  <div class="form-group">
                    <label for="InputUserName">Họ tên:</label>
                    <input type="text" name="newname" class="form-control" id="InputUserName" aria-describedby="Username" placeholder="" required>

                  </div>
                  <div class="form-group">
                    <label for="InputPassword">Mật khẩu mới:</label>
                    <input type="password" name="newpass" class="form-control" id="InputPassword" placeholder="" required>
                  </div>

                  <div class="form-group">
                    <label for="InputRePassword">Nhập lại mật khẩu mới:</label>
                    <input type="password" name="newrepass" class="form-control" id="InputRePassword" onblur="javascript: checkpass()" placeholder="" required>
                  </div>
                  <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Cập nhật</button>

              </div>

                </form>
              </div>


            </div>
          </div>
        </div>

        <!-- Cập nhật phiên hỏi đáp -->
          <div class="modal fade" id="EditSessionModal" tabindex="-1" role="dialog" aria-labelledby="QuesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="QuesModalLabel">Chỉnh sửa phiên hỏi đáp</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <form>
                    <div class="form-group">
                      <label for="InputTitle">Tiêu đề:</label>
                      <input type="text" class="form-control" id="InputTitle" aria-describedby="title" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="InputDes">Mô tả:</label>
                      <input type="text" class="form-control pb-4" id="InputDes" placeholder="">
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>

                </div>
              </div>
            </div>
          </div>

    </main>

  <!-- FOOTER -->
    <footer id="footer">
      <ul style="padding: 15px; margin-bottom: 0px;">
        <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
        <p style="font-size: 12px"> @2019 design by Team 5</p>
      </ul>
    </footer>

  <!-- Quay về đầu trang -->
    <br>
    <div class="text-center">
    <a href="#"><h5>Back to top</h5></a>
    </div>

  <!-- Nút xóa -->
    <script type="text/javascript">
      $("#button1").click(function(){
      $("#cmt").remove();
      });
      $("#button3").click(function(){
      $("#ses").remove();
      });
      $("#button4").click(function(){
      $("#sur").remove();
      });
    </script>

</body>
</html>
